{
  "plugins": [
    "angular2-annotations",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-flow-strip-types",
    "class-name"
  ],
  "presets": [
    "es2015"
  ]
}