.header
  height: 80px
  padding: 20px 60px
  display: flex
  box-sizing: border-box
  align-items: center
  justify-content: space-between
  .logo
    height: 64px
    width: 64px
    margin: 0 auto
    flex: 2
    a
      text-decoration: none
      color: #00a5cb
      display: flex
      b
        display: flex
        align-self: center
        padding-top: 14px
    .icon-logo
      font-size: 4em
      height: 64px
      width: 64px

  &__title
    flex: 6
    font-size: 36px
    letter-spacing: 0.5px
    text-align: center
    color: blue

  &__controls
    align-items: center
    flex: 2
    display: flex
    justify-content: flex-end

  &__buttons-wrapper
    display: flex
    margin-right: 20px