.spinner__overlay([ngClass]="{in: visible}")
  .spinner__container
    #first-spin.spinner__item
    #second-spin.spinner__item
    #third-spin.spinner__item
    #fourth-spin.spinner__item
    #fifth-spin.spinner__item