doctype html
html
  head
    title= htmlWebpackPlugin.options.title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Security-Policy",
      content="default-src *; style-src 'self' 'unsafe-inline' https://*.googleapis.com;\
        font-src 'self' 'unsafe-inline' https://*.gstatic.com data:;\
        script-src 'self' 'unsafe-inline' 'unsafe-eval' https://*.googleapis.com https://cdnjs.cloudflare.com #{htmlWebpackPlugin.options.coreURL} https://ssl.ditonlinebetalingssystem.dk;\
        img-src 'self' https://*.gstatic.com https://*.googleapis.com  https://*.s3.amazonaws.com/uploads/ https://*.s3-eu-west-1.amazonaws.com/uploads/ https://scontent.xx.fbcdn.net/ data:")
  body
    workshop-app

    if htmlWebpackPlugin.options.env == "development"
      script(src="/webpack-dev-server.js")
